# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.vscode

# Dependency directories (remove the comment below to include it)
# vendor/

imup/

dist/

# files generated during the release creating a dirty git state
# https://goreleaser.com/errors/dirty/?h=dirty
CHANGELOG.md
node_modules/*
package-lock.json
package.json
